body, html {
  height: 100%;
  width: 100%;
}

h1, h2 {
  text-align: center;
}
.white-back {
  background-color: white;
}
#intro {
  opacity: 0;
  display: flex;
  justify-content: center;
  height: 100%;
}
#intro-container {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  /* animation-name: introMoveUp; defined in scripts.js */
  /* animation-delay: defined in scripts.js */
  /* animation-duration: defined in scripts.js */
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.responsive-box {
  /* width changes with size */
  width: 60%;
  display: flex;
  margin: auto;
}

#intro-content {
  opacity: 0;
  width: 100%;
}
.mode-container {
  flex: 25%;
  text-align: center;
}
#content {
  position: absolute;
  bottom: 0;
  display: none;
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  /* animation-duration: defined in scripts.js */
  animation-delay: 0s;
  width: 100%;
  margin: 0;
}
#definition-container {
  /* Changes based on size */
  width: 55%;
  /* --------------------- */
}
#letters-container {
  width: 55%;
  margin: auto;
}
#letters-container button.letter {
  font-weight: bold;
  padding: 0.5%;
  margin: 0.5%;
  width: 100%;
}
.word-letter {
  width: 100%;
  margin: 5% 1%;
  text-align: center;
  border-bottom: 2px red solid;
  font-size: 3em;
}
button {
  border: 1px solid #333;
  border-radius: 32px;
  padding: 15px 18px 30px 15px;
  cursor: pointer;
  height:32px;
  font-size:14px;
  box-shadow: 0 0 4px #999;
  background-position: center;
  transition: background 0.8s;
}
button.green {
  background-color: #293e2a;
  color: #8ccf64;
  border-color: #8ccf64;
}
button.green:hover {
  background:#8ed138 radial-gradient(circle, transparent 1%, #8ed138 1%) center/15000%;
  border-color: #8ed138;
  color: white;
}
button.green:active {
  background-color:#293e30;
  background-size: 100%;
  transition: background 0s;
}
button.blue {
  background-color: #292D3E;
  color: #1D9AF2;
  border-color: #1D9AF2;
}
button.blue:hover {
  background:#47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  color: white;
}
button.blue:active {
  background-color:#292d3e;
  background-size: 100%;
  transition: background 0s;
}
button.red {
  background-color: #3e2929;
  color: #e19445;
  border-color: #e19445;
}
button.red:hover {
  background:#ff972b radial-gradient(circle, transparent 1%, #ff972b 1%) center/15000%;
  color: white;
}
button.red:active {
  background-color:#3e2929;
  background-size: 100%;
  transition: background 0s;
}
button.big {
  height:64px;
  font-size:28px;
  border-radius: 64px;
  width: 90%;
}
button.small {
  margin: 12px;
}
.popup-container {
  width: 100%;
  height: 100%;
  background: rgba(50,50,50,0.5);
  position: fixed;
  top: 0;
  z-index: 500;
}
#popup {
  background: white;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
#error-popup {
  background: #ff972b;
}
.screen-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  margin: 5px;
  padding: 0;
}
img.bmc-icon {
  height: 20px;
  margin: auto;
}

#bmc-text {
  text-align: center;
  margin: auto 0;
}

button.bmc {
  margin: 25px 5px;
  width: 47px;
  height: 47px;
}

.bmc-banner {
  margin: 12px 0;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.fade-out {
  animation-name: fadeOut;
  /* animation-duration: defined in scripts.js */
  animation-timing-function: ease;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes introMoveUp {
  to { bottom: 50%; }
}
@media (max-width: 1750px) {
  #definition-container {
    width: 75%;
  }
  #letters-container {
    width: 75%;
  }
}
@media (max-width: 1250px) {
  .responsive-box {
    width: 95%
  }
  #definition-container {
    width: 100%;
  }
  #letters-container {
    width: 100%;
  }
}
@media (max-width: 800px) {
  button.big {
    height:48px;
    font-size:21px;
    border-radius: 48px;
  }
  #intro button.big {
    height:56px;
  }
  #intro h1 {
    font-size: 3em;
  }
}
@media (max-width: 650px) {
  .responsive-box {
    display: block;
  }
  #intro button.big {
    width: 100%;
    height: 50px;
    font-size: 18px;
  }
  #intro h1 {
    margin: 5%;
    padding: 0;
    font-size: 2.5em;
  }
  #intro h2 {
    font-size: 1.3em;
  }
  
  #intro-text {
    padding: 0;
  }
  .word-letter {
    font-size: 1.5em;
  }
}
@media (max-width: 365px) {
  .word-letter {
    font-size: 1em;
  }
}
@media (max-width: 300px) {
  button.letter {
    font-size: 18px;
  }
}
@media (max-width: 272px) {
  button.small {
    font-size: xx-small;
  }
}